@charset "UTF-8";

body{
    background-color: #400000;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color: red;
    margin-top: 100px;
}
#caiprin{
    width: 500px;
    height: 500px;
    background-color: #bf0000;
    margin: auto;
    border-radius: 50px;
    box-shadow: 6px 6px 20px 10px rgba(0, 0, 0, 0.24);
}
#input{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    color: #400000;
}
#fil{
    padding-left: 14px;
}
#output{
    width: 250px;
    height: 250px;
    margin: auto;
}

